* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(177, 211, 212);
}
.h1 {
  margin: 15px;
  font-family: sans-serif;
  letter-spacing: 1.3px;
}
input {
  width: 500px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(239, 208, 169);
  color: black;
  border: none;
}
input:focus {
  outline: none;
}
h3 {
  margin-top: 10px;
  font-family: sans-serif;
}
p {
  margin: 10px 0;
  font-family: sans-serif;
  margin-bottom: 25px;
}
.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.data {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  background-color: antiquewhite;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}
.data:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
